.contact{
    margin-top: -120px;
    width: 100%;
    height: 280px;
    background:linear-gradient(rgba(255, 255, 255, 0.45),rgba(255, 255, 255, 0.45)),url("../../../assets/822048.jpg");
    background-size: cover;
}

.contact h1{
    padding-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: rgb(18, 56, 37);
}
.section-contact{
    /* background-color: rgb(193, 224, 209); */
    padding: 60px;
}
.contact-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90), 0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90);
}
.contact-container .contact-content{
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 60px;
    font-size: 20px;
    background: linear-gradient(rgba(184, 180, 180, 0.45),rgba(104, 103, 103, 0.45)),url(../../../assets/contact-bg.png);
    background-size:cover;
    background-position: bottom;
}
.contact-container .contact-form{
    padding: 40px;
}
.start-msg{
    padding: 0 40px 40px;
    text-align: center;
    font-size: 22px;

}

.book-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(59, 121, 90);
    box-shadow:0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90), 0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90);
    transition: all 100ms ease-in-out;
}
.book-btn:hover{
    box-shadow:0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90), 0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90);
}
