<section class="section-about">
  <div class="aboutBod">
    <div class="aboutImg">
      <div class="aboutImageLeft">
        <img src="../../../assets/MyStory/2.jpg" alt="">
      </div>
      <div class="sborder"></div>
    </div>
    <div class="what-we-do d-flex flex-column align-items-center justify-content-center">
      <span class="fas fa-quote-left"></span>
      <div>
        <p>
          Aseema, my coach has been fabulous from the day 1, encouraged me when I tried new food/experience in the journey. The best thing about her is she is well read and educated with what we covered in the program. Her own transformation is very inspiring and motivating.
        </p>
        -Trupti, WILDFIT 90 Client
      </div>
      <div>
        <p>
          I can safely say that now i couldn't have chosen a better time for this program - I was at the right place, with the right guide and at the right time. "Thank you so much Aseema for being a fantastic coach ! Can't wait to welcome WILDFIT baby!!"
        </p>
        -WILDFIT 90 Client (Mom to be)
      </div>
      <div>
        <p>
          My liver grade is back to 1 from 2. I am able to wear my old slim clothes. People who ever see me now in neighbourhood or office tell me that I have lost weight and face s glowing. Thanks to my WILDFIT coach Aseema.
        </p>
        -Chaitanya, WILDFIT 90 Client
      </div>
      <span class="fas fa-quote-right"></span>
    </div>
  </div>
</section>
