<section class="section-about">
    <div class="row">
        <div class="aboutBod">
            <div class="aboutImageLeft">
                <img src="../../../assets/MyStory/2.jpg" alt="">
                <div class="sborder"></div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h3>What we do?</h3>
                <p>Why sir end believe uncivil respect. Always get adieus nature day coursefro common. My little garret repair to desire he esteem.</p>
            </div>
        </div>
        <!-- <div class="aboutBod d-flex justify-content-center">
            <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
                <p>Wise busy past both park where an ye npoo. Nay likely her length sooner thrown sex lively income. The expense widows adapted sir. Wrong widen drawn ample eat off doors money. Offending belonging promotion provision an be oh consulted ourselves it. Blessing welcomed ladyship she met humoured sir breeding her. Six curiousity day assurancebed necessary</p>
                <p>
                    And produce say the ten moments parties. Simple innate summer fat appear basket his desire joy. Outward clothes promise at gravity do excited. Sufficient particular impossible by reasonable oh expression is. Yet preference connection unpleasant yet melancholy but end appearance. And excellence partially estimating terminated day everything.
                </p>
                <p>Warmly little before cousin sussex entire men set. Blessing it ladyship on sensible judgement settling</p>
            </div>
            <div class="col-lg-6 aboutImageRight">
                <img src="../../../assets/MyStory/3.png" alt="">
                <div class="sborder"></div>
            </div>
        </div> -->
    </div>
</section>