.section-about{
    padding: 80px;
}
.section-about .row{
    padding: 20px;
}
.aboutBod{
    display: flex;
    justify-content: center;
}
.aboutImageLeft, .aboutImageRight{
    position: relative;
    width: 100%;
}
.aboutImageLeft, .aboutImageLeft img{
    border-radius: 240px 0 0 0;
    width: 85%;
    padding: 0;
}

.aboutImageRight, .aboutImageRight img{
    border-radius: 0 0 240px 0;
    width: 85%;
    padding: 0;
}
.aboutImageRight{
    margin-top: -150px;
}
.sborder{
    position: absolute;
    width: 85%;
    height: 100%;
    border: 1px solid black;
    z-index: 10;
    top:-20px;
}
.aboutImageLeft .sborder{
    left: -20px;
    border-radius: 260px 0 0 0;
}
.aboutImageRight .sborder{
    left: 20px;
    top: 20px;
    border-radius: 0 0 260px 0;
}
.story{
    padding: 60px 0;
}
.story h2{
    font-size: 54px;
    font-weight: 700;
}