.navbar{
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    padding: 30px 50px;
}
/* .navbar div{
    width: 
} */
.row{
    margin: 0;
}
a{
    text-decoration: none;
    /* color: aliceblue; */
}
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* align-items: center; */
}

i{
    font-size: 28px;
    margin: 0 10px;
    color: rgb(29, 44, 54);
}
.wildfit-link{
    position: relative;
}

.wildfit-drop{
    width: 300px;
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 20;
    left: 0;
    display: flex;
    flex-direction: column;
}
.wildfit-link:hover > .wildfit-drop{
    visibility: visible;
    background-color: antiquewhite;
}
.wildfit-link:hover {
    background-color: blanchedalmond;
}

.social i{
    margin:0 20px;
}

.navbar li {
    position: relative;
}
.navbar li a{
    text-transform: uppercase;
    color: rgb(34, 36, 37);
    font-size: 18px;
}
.navbar li a:hover{
    color: rgb(112, 132, 146);
}

.title-section{
    width: 600px;
    /* padding: 0 20px; */
}
.title-section li{
    padding: 0 20px;
}
.title{
    margin-bottom: 10px;
}
.title h4{
    font-size: 40px;
    font-weight: 700;
}
.sub-title{
    letter-spacing: 10px;
    color: rgb(135, 135, 146);
    padding: 0 0 10px 0;
}
.btn{
    background: rgb(0, 0, 0); 
    color: #fff;
    border-radius: 60px;
    padding: 10px 20px;
}
.btn:hover{
    opacity: .8;
}