<nav>
  <div class="row navbar d-flex justify-content-center">
    <div class="social col-lg-3 left">
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="col-lg-6 title-section d-flex flex-column align-items-center">
      <div class="title">
        <a routerLink="/home"><h4>3F Tribe</h4></a>
      </div>
      <div class="sub-title">Flow . Fit . Free</div>
      <ul class="nav-links d-flex justify-content-center align-items-center">
        <li><a routerLink="../about">About </a></li>
        <li class="wildfit-link">
          <a routerLink="../wildfit">WildFit</a>
          <ul class="wildfit-drop">
            <li><a routerLink="../intro">Intro</a></li>
            <li><a routerLink="../coaching">Coaching</a></li>
            <li><a routerLink="../testimonials">Testimonials</a></li>
            <li><a routerLink="../application-form">Application Form</a></li>
          </ul>
        </li>
        <li><a routerLink="../shop">Shop </a></li>
        <li><a routerLink="../contact">Contact </a></li>
      </ul>
    </div>
    <div class="col-lg-3 right d-flex align-items-center">
      <div class="cart">
        <i class="p-3 fal fa-shopping-cart"></i>
      </div>
      <a href="javascript:void(0)" class="btn">Work with me</a>
    </div>
  </div>
</nav>
<!-- <div class="nav-bg"><img src="../../../../assets/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" alt=""></div> -->
