<section class="section-cart">
    <div class="cart">
        <div *ngIf="!totalAmount" class="emptyCart d-flex flex-column justify-content-center align-items-center">
            <img src="../../../../assets/empty-cart.png" alt="" width="350px">
            <h4>YOUR CART IS EMPTY</h4>
            <p>Let's fill it with some items</p>
            <a routerLink="/shop" class="cart-btn">Browse Items</a>
        </div>
        <div *ngIf="totalAmount" class="cart-items">
            <div class="cart-header">
                <div class="">My Shopping Cart</div>
                <a class="" style="text-align:right; text-decoration: none; color: red; cursor: pointer;" (click)="removeAllProduct()">Remove All</a>
            </div>
            <div *ngFor="let item of cartItems, let i = index" class="bottom-border">
                <div class="row col-lg-12 col-md-12">
                    <div class="col-lg-1 col-md-1 col-sm-1">{{i+1}}.</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 cart-img d-flex justify-content-center">
                        <img src="../../../../assets/shop/{{item.imageUrl}}.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: center;">{{item.name}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="reduce btn" (click)="redQuantity(item)">-</div>
                            <div class="btn" style="border-radius: 10px;cursor:default;">{{item.quantity}}</div>
                            <div class="increase btn" (click)="incQuantity(item)">+</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">${{item.total}}</div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <div class="d-flex flex-row justify-content-center">
                            <div (click)="removeProduct(item)" class="btn btn-close" style="color: red;" >X</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6"></div>
                <div class="col-lg-6 col-md-6">
                    <div class="totalAmount">
                        <h4>Total Amount:</h4>
                        <h4>$ {{totalAmount}}</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="checkout btn btn-dark">Checkout</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>