.section-shop{
    background-color: rgb(193, 224, 209);
    padding: 30px;
}
.section-shop a{
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.section-shop a:hover{
    transform: scale(1.02);
}
.section-shop .imgContainer{
    background-color: #fff;
    box-shadow:0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90), 0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section-shop .imgContainer .inner-card div:first-child{
    display: flex;
    justify-content: center;
    height: 490px;
    margin-bottom: 10px;
}
.section-shop .imgContainer .inner-card div:last-child{
    height: 100px;
    width: 330px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    padding: 5px 10px;
}
.section-shop .imgContainer img{
    width: 330px;
}
.section-shop .imgContainer .inner-card{
    padding: 10px;
}
.section-shop .modal-body{
    display: flex;
    justify-content: center;
}

@media (max-width:1132px){
    .section-shop .imgContainer img{
        width: 280px;
    }   
    .section-shop .imgContainer .inner-card div:last-child{
        width: 280px;
    }
    .section-shop .imgContainer .inner-card div:first-child{
        height: 400px;
    }
}

/* @media (max-width:1024px){
} */