.section-shop{
    padding: 30px;
}

h5{
    font-size: 12px;
}

.section-shop a{
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.section-shop a:hover{
    transform: scale(1.02);
}
.section-shop .imgContainer{
    background-color: #fff;
    box-shadow:0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90), 0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section-shop .imgContainer .inner-card .item{
    height: 380px;
    width: 330px;
    overflow: hidden;
    margin-bottom: 10px;
}
.section-shop .imgContainer .inner-card .item-name{
    width: 330px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    padding: 5px 10px;
}
.section-shop .imgContainer img{
    width: 330px;
}
.section-shop .imgContainer .inner-card{
    padding: 10px;
}
.section-shop .modal-body{
    display: flex;
    justify-content: center;
}
.shop-btn{
    padding: 10px 20px;
    color: #fff;
    width: 150px;
    border-radius: 20px;
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: #1e7e34;
    box-shadow:0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90), 0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90);
    transition: all 100ms ease-in-out;
}
.confirm-btn{
    width: 250px;
}
.shop-btn:hover{
    background-color: #28a745;
    box-shadow:0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90), 0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90);
}
.itemImage{
    width: 280px;
}

ul {
    list-style: none;
}

ul li::before {
content: "";
background-image: url(../../../assets/leafb.png);
background-size: contain;
display: inline-block;
width: 1.1em;
height: 1.1em;
position: relative;
top: 0.1rem;
margin-right: 1.2rem;
}
.close {
    position: absolute;
    right: 32px;
    top: 34px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 32px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

@media (max-width:1132px){
    .section-shop .imgContainer img{
        width: 280px;
    }   
    .section-shop .imgContainer .inner-card .item-name{
        width: 280px;
    }
    .section-shop .imgContainer .inner-card .item{
        width: 280px;
        height: 330px;
    }
}

@media (max-width:991px){
    .itemImage{
        width: 120px;
    }
}