<section class="section-shop">
  <div class="row">
    <div class="col-lg-4 col-md-12 d-flex justify-content-center " *ngFor="let product of productList;let i = index ">
      <!-- <ng-template #confirm let-modal>
        <div class="modal-body">
          <h3>Are you a WILDFIT graduate ?</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Not yet</button>
            <button type="button" class="btn confirm-btn shop-btn" (click)="addToCart(product);modal.dismiss('Cross click');">Confirm & Add to cart</button>
        </div>
      </ng-template> -->
      <ng-template #content let-modal>
        <div class="modal-body" style="background:linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.6)), url(../../../assets/bgs/6056344.jpg); background-size:cover; border-radius: 15px;">
          <div class="itemDescription">
            <div class="" style="padding:20px 40px;">
              <h3>{{product.name}}</h3>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
              </button>
            </div>
            <ul style="padding: 0px 40px 20px;">
              <li *ngFor="let value of product.description">{{value}}</li>
            </ul>
          </div>
          <div class="" style="padding: 20px; display:flex; justify-content: flex-end;">
            <!-- <h3 style="margin-top: 10px;">*{{product.price}}</h3> -->
            <!-- <button
              *ngIf="product.id==='livwfc'"
              type="button"
              class="btn shop-btn"
              (click)="openConfirmModal(confirm)"
            >
              Add to Cart
            </button> -->
            <!-- *ngIf="product.id!=='livwfc'" -->
            <!-- addToCart(product);  -->
            <button
              type="button"
              class="btn shop-btn"
              routerLink="/contact"
              (click)="modal.dismiss('Cross click');"
            >
              I am interested
            </button>
          </div>
          <div style="padding: 0 40px; margin-top: -20px;"><h5>* Program pricing based on country of residence</h5></div>
        </div>
      </ng-template>
      <a href="javascript: void(0)" (click)="openLg(content)">
        <div class="imgContainer">
          <div class="inner-card">
            <div class="item">
              <img src="../../../assets/shop/{{i+1}}.jpg" alt="" />
            </div>
            <div class="item-name">
              <h3>{{product.name}}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
