<div class="homeHeader">
</div>
<section class="section-home">
    <div class="get-started">
        <h1>Health</h1> <h1 class="amperh1"><span class="amper">&</span> Fitness</h1>
        <p>always be ready to challenge yourself</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptate recusandae itaque explicabo facere.</p>
        <div class="get-started-btn d-flex">
            <input type="text" placeholder="Enter your email to get started">
            <button class="btn btn-dark">Get Started</button>
        </div>
    </div>
    <div>

    </div>
</section>
<app-about></app-about>
<app-how-it-works></app-how-it-works>
<app-testimonials></app-testimonials>