<section class="home-section">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="thought d-flex justify-content-center align-items-center">
            "RECREATE YOUR LIFE AND LIVE BREAKFREE"
        </div>
        <div>~Twinkle</div>
        <div class="guide-msg">
            Your certified guide to Mindful nutrition as a way of life
        </div>
    </div>
    <div class="section-cover">
        <img src="../../../assets/image-asset.jpeg" alt="">
    </div>
    <div class="section-work d-flex justify-content-center flex-column align-items-center">
        <div class="section-work-title">
            Work with Twinkle
        </div>
        <div class="d-flex row justify-content-center align-items-center">
            <div class="card-body col-lg-4 d-flex justify-content-center flex-column align-items-center">
                <h4 class="card-heading">
                    1:1 VIP COACHING
                </h4>
                <div class="card-content">
                    This choice is ideal for the ones who have a busy schedule.
                    <br>
                    For the busy professional or high achiever who has finally decided to make 
                    their health and mental clarity a priority then this coaching is for you. 
                    <br>
                    Twinkle will work with you to fit into your busy schedule to ensure that 
                    all your coaching calls fit into your calendar to guarantee that you achieve 
                    maximum success through your WILDFIT 90 transformation.
                    <br>
                    The return that you will receive due to the increased mental clarity, focus 
                    and energy by WILDFIT 90, will far outweigh this small investment you make into your health and vitality.  
                    <!-- There is an opportunity for your partners (both business and personal) to go through this one on one coaching.  -->
                </div>
            </div>
            <div class="card-body col-lg-4 d-flex justify-content-center flex-column align-items-center">
                <h4 class="card-heading">
                    90 Day CHALLENGE WILDFIT
                </h4>
                <div class="card-content">
                    Transform life in 90day Wildfit Challenge
                    This is our most popular offering which includes the  WILDFIT 90 content 
                    clubbed with specialised group coaching led by Twinkle.
                    <br>
                    Group coaching classes are limited to 20 people, Twinkle will ensure that your voice is been heard.
                    <br>
                    The enormous feedback from our clients to date is that they would not have been 
                    able to stick with the program if it was not for the support and community that this Group Coaching offers. 
                    With 28 group coaching calls and daily interactions with your group, you'll be 
                    sure to stay on track and pull everything out of your WILDFIT 90 journey and investment.
                </div>
            </div>
            <div class="card-body col-lg-4 d-flex justify-content-center flex-column align-items-center">
                <h4 class="card-heading">
                    WILDFIT CORPORATE PACKAGES
                </h4>
                <div class="card-content">
                    We are what we eat.
                    Few of the many benefits of joining WILDFIT program is enjoying increased energy, focus, peace and transparency. 
                    Having a background in working with corporate firms like Oil and Gas, Aviation etc., Twinkle understands the stress 
                    and frustration employees go through and the program will benefit each and every aspect of the company and she brings 
                    out a Workspace which is much more productive, profitable and happier. 
                    Healthier the employees, lesser the sick leaves,  increased energy resulting in increased productivity. 
                    We've had partners in multi-national firms go from being completely overwhelmed and lethargic to go looking 
                    for additional work and projects in just a few weeks. 
                    Reach out to us below so that we can custom make a package that is perfect for you and your organisation.
                </div>
            </div>
        </div>
    </div>
</section>