<section class="section-home">
  <div class="home-header">
    <div class="carousel-container">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let i of [1, 2, 3]">
          <div class="picsum-img-wrapper">
            <img
              src="../../../assets/cover/c{{i}}.jpg"
              width="100%"
              alt=""
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="about-me">
    <app-about></app-about>
  </div>
</section>
