.section-aboutMe{
    padding: 60px;
}
.section-aboutMe .intro {
    background: url(../../../assets/bgs/yoal-desurmont-jqgsM3B9Fpo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 150px;
    margin: -60px -60px;
    margin-bottom: 30px;
}
.section-aboutMe .intro h1{
    font-size: 36px;
    text-align: center;
}
.thought-area h1{
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}
.myStory > h1:first-child{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: rgb(12, 39, 27);
    font-weight: 700;
    margin-bottom: 20px;
}
.part1, .part2, .part3{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../../assets/bgs/6056344.jpg");
    background-size: cover;
    padding: 20px;
}
.part3{
    flex-direction: column;
}
.part1{
    background-image: url("../../../assets/bgs/16056344.jpg");
    background-size: cover;
}
.part4{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-image: url("../../../assets/bgs/6056344.jpg");
    background-size: cover;
}

.part5{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.part-content{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    flex-basis: 50%;
    border-radius: 10px;
    line-height: 30px;
}
.bgpart1 , .bgpart2, .bgpart4{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bgpart2, .bgpart4{
    justify-content: start;
}
.part1 img , .part2 img,.part4 img, .part5 img{
    width: 400px;
}
.part3 div ul{
    padding: 0 20px 20px;
}
.part3 div p{
    margin-top: 10px;
}

.book-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(59, 121, 90);
    box-shadow:0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90), 0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90);
    transition: all 100ms ease-in-out;
}
.book-btn:hover{
    box-shadow:0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90), 0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90);
}

@media (max-width:991px){
    .myStory > h1:first-child{
        font-size: 40px;
    }
    .section-aboutMe .intro h1, .thought-area h1{
        font-size: 24px;
    }
    .part1 img , .part2 img, .part4 img, .part5 img{
        width: 300px;
    }
    .section-aboutMe{
        padding: 30px;
    }
    .part-content{
        line-height: 26px;
    }
}
@media (max-width:767px){
    .section-aboutMe .intro h1, .thought-area h1{
        font-size: 20px;
    }
    .part1{
        align-items: center;
        flex-direction: column-reverse;
    }
    .part2, .part5, .part4{
        align-items: center;
        flex-direction: column;
    }
    .part4{
        align-items: center;
    }
    .bgpart1, .bgpart2, .bgpart4{
        margin-bottom: 20px;
        justify-content: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        overflow: hidden;
    }
    .bgpart1 img, .bgpart2 img, .bgpart4 img{
        display: flex;
        justify-content: center;
    }
    .part5{
        justify-content: center;
    }
    .part5 div{
        display: flex;
        justify-content: center;
    }
}