.section-aboutMe{
    padding: 60px;
    font-family: 'Roboto', sans-serif;
}
.section-aboutMe .intro {
    background: url(../../../assets/bgs/yoal-desurmont-jqgsM3B9Fpo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    height: 120px;
    margin: -60px;
    margin-bottom: 60px;
    padding: 10px;
}

.thought-area h3{
    text-align: center;
    margin-top: 24px;
}

.myStoryCards{
    position: relative;
}
.myStoryCards .col-md-6, .myStoryCards .col-lg-3, .myStoryCards .col-sm-6{
    padding: 0;
}
.outer-conten{
    width: 350px;
    height: 560px;
    position: relative;
    transition: all 200ms ease-in-out;
    margin-bottom: 20px;
    border-radius: 10px;
}

.outer-conten:hover{
    transform: scale(1.05);
    cursor: pointer;
    z-index: 21;
    transition: all 200ms ease-in-out;
}
.conten{
    height: 100%;
    background: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
}
.outer-conten:hover > .conten{
    opacity: 1;
}
.outer-conten:hover > .sub-heading, .outer-conten:hover > .sub-numbering {
    opacity: 0;
}
.outer-conten .sub-heading, .outer-conten .sub-numbering{
    position: absolute;
    text-align: center;
    bottom: 10px;
    background-color:rgba(194, 204, 192, 0.8);
    border-radius: 10px;
    left: 5px;
    right: 5px;
    color: #000;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.outer-conten .sub-numbering{
    top: 20px;
    height: 44px;
}

.part3, .part4{
    margin-bottom: 20px;
    background-image: url("../../../assets/bgs/mw0321.jpg");
    background-size: cover;
    padding: 20px;
}

.part5{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.part-content, .book-session{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px #000;
    padding: 40px;
    border-radius: 10px;
}

.part5 img{
    width: 400px;
}
.part3 div ul{
    padding: 0 20px 20px;
}
.part3 div p{
    margin-top: 10px;
}

.book-btn{
    background-color: #1e7e34;
    max-width:230px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: all 100ms ease-in-out;
}
.book-btn:hover{
    background-color: #28a745;
}

@media (max-width:991px){

    .part1 img , .part2 img, .part4 img, .part5 img{
        width: 300px;
    }
   
    .part-content{
        line-height: 26px;
    }
}
@media (max-width:767px){
    .section-aboutMe .intro h1, .thought-area h1{
        font-size: 20px;
    }
    .part1{
        align-items: center;
        flex-direction: column-reverse;
    }
    .part2, .part5, .part4{
        align-items: center;
        flex-direction: column;
    }
    
    .part4{
        align-items: center;
    }

    .bgpart1, .bgpart2, .bgpart4{
        margin-bottom: 20px;
        justify-content: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        overflow: hidden;
    }
    .bgpart1 img, .bgpart2 img, .bgpart4 img{
        display: flex;
        justify-content: center;
    }
    .part5{
        justify-content: center;
    }
    .part5 div{
        display: flex;
        justify-content: center;
    }
    .outer-conten{
        height: 520px;
    }
    .section-aboutMe{
        padding: 20px;
    }
    .section-aboutMe .intro {
        margin: -20px;
        margin-bottom: 20px;
    }
}

@media (max-width:667px){
    .outer-conten{
        width: 280px;
        height: 430px;
    }
}