.section-aboutMe{
    padding: 80px;
}
.section-aboutMe .intro {
    margin-bottom: 30px;
}
.section-aboutMe .intro h1{
    font-size: 36px;
    text-align: center;
}
.myStory > h1:first-child{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: rgb(12, 39, 27);
    font-weight: 700;
}

.part1, .part2, .part5, .part4{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-image: url("../../../assets/822048.jpg");
    padding: 20px;
}
.part1 div:first-child , .part2 div:nth-child(2){
    padding: 40px;
    flex-basis: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.bgpart1 , .bgpart2, .part5 div{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}
.bgpart1 img , .bgpart2 img, .part5 div img, .part4 img{
    height: 500px;
}

.part3 , .part4{
    background-image: url("../../../assets/822048.jpg");
    padding: 20px;
    margin-bottom: 20px;
}
.part3 div, .part4 div:last-child{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.part3 div ul{
    padding: 0 20px 20px;
}
.part3 div p{
    margin-top: 10px;
}

.book-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(59, 121, 90);
    box-shadow:0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90), 0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90);
    transition: all 100ms ease-in-out;
}
.book-btn:hover{
    /* background-color:rgba(177, 199, 181, 0.7);
    color: black; */
    box-shadow:0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90), 0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90);
}