<section class="section-wildfit90">
  <div class="wildfit90">
    <div class="whatisw90">
      <h3 class="section-heading">What is WILDFIT 90 ?</h3>
      <div>
        WILDFIT 90 is a 90 day group coaching health transformation program that
        teaches you how to permanently alter your relationship with food. If you
        are someone who wants to release weight, gain or maintain weight, if you
        are an athlete seeking peak performance or someone who wants to live
        longer and with greater vitality, this is the place to be.
      </div>
    </div>
    <div class="howditwork justify-content-center">
      <h3 class="section-heading">How Does It Work ??</h3>
      <div class="part1" (click)="show1 = !show1">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 1:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>WILDFIT PRINCIPLES AND FOUNDATION</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show1,'rotate-right':!show1}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show1, 'full-height':!show1 }">
              The first week is by far the most important week of the program.
              We gain insights into why we eat, what we eat, when we eat it.
              You'll be surprised to find out what makes you eat that pint of
              ice-cream in the middle of the night!!
            </p>
          </div>
        </div>
      </div>
      <div class="part2" (click)="show2 = !show2">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 2-3:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>UNDERSTAND SUGAR DEPENDENCY</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show2,'rotate-right':!show2}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show2, 'full-height':!show2 }">
              These 2 weeks help address our dependency on processed foods and
              sugars. We learn how sugars sneak into our lives in almost
              everything we buy at the supermarket and how to deal with it.
            </p>
          </div>
        </div>
      </div>
      <div class="part3" (click)="show3 = !show3">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 4-5:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>NUTRITIONAL TOP UP</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show3,'rotate-right':!show3}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show3, 'full-height':!show3 }">
              In these weeks we prepare our bodies for the healing process to
              start. In WILDFIT we believe in preparing our bodies by giving it
              the best nutrition possible before making any change.
            </p>
          </div>
        </div>
      </div>
      <div class="part4" (click)="show4 = !show4">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 6-10:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>OUR BODIES START TO HEAL</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show4,'rotate-right':!show4}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show4, 'full-height':!show4 }">
              This is when your body starts to respond to all the foundational
              work that we did in the weeks before. Weight starts to shift,
              energy levels stabilize, body shape starts to change and any more
              changes start to reflect!
            </p>
          </div>
        </div>
      </div>
      <div class="part5" (click)="show5 = !show5">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 11:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>WILDFIT SEASONS</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show5,'rotate-right':!show5}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show5, 'full-height':!show5 }">
              In the span of 90 days, we will learn how to eat seasonally to get
              the greatest benefit for our bodies!
            </p>
          </div>
        </div>
      </div>
      <div class="part6" (click)="show6 = !show6">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 12:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>BURN SOME MORE FAT</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show6,'rotate-right':!show6}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show6, 'full-height':!show6 }">
              In this week, you will receive guidance regarding how to
              transition between seasons by yourself. This prepares you for your
              LIVING WILDFIT phase after the 90 days!
            </p>
          </div>
        </div>
      </div>
      <div class="part7" (click)="show7 = !show7">
        <div class="d-flex week-container">
          <div class="week">
            <h3>Week 13:</h3>
          </div>
          <div class="week-content">
            <div>
              <h3>LIVING WILDFIT</h3>
              <div
                class="drop-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-down" [ngClass]="{'rotate-left':show7,'rotate-right':!show7}"></i>
              </div>
            </div>
            <p [ngClass]="{'zero-height': show7, 'full-height':!show7 }">
              In this week, you will  learn how to practise living WILDFIT by
              choosing your base season and making food decisions on your own!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefit">
    <h3 class="section-heading">HOW WILL I BENEFIT ?</h3>
    <div class="card-container">
      <div class="card-outer">
        <ng-template #content1 let-modal>
          <div class="modal-header">
            <h4 class="modal-title text-center">OPTIMAL HEALTH</h4>
          </div>
          <div
            class="modal-body d-flex justify-content-center"
            style="
              background: linear-gradient(
                  rgba(174, 204, 173, 0.8),
                  rgba(180, 196, 184, 0.8)
                ),
                url(../../../../assets/meghan-holmes-buWcS7G1_28-unsplash.jpg);
              background-size: cover;
              background-position: center;
              color: black;
            "
          >
            <div class="itemDescription col-lg-12">
              <P>
                WILDFIT is not a diet, it is a way of life that helps you
                achieve optimal health. When our body achieves optimal health,
                diseases, health conditions, allergies, body aches/pains etc
                start to disappear. If you are carrying additional weight, that
                starts to come off. If want to gain/maintain your weight, that
                becomes easy. You achieve peak performance, if you are an
                athlete. You gain more confidence in yourself and making good
                food decisions becomes organic and requires NO WILLPOWER!
              </P>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="read-btn btn btn-dark"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              Read Less
            </button>
          </div>
        </ng-template>
        <div class="card-inner">
          <div class="card-image">
            <img
              src="../../../../assets/meghan-holmes-buWcS7G1_28-unsplash.jpg"
              alt=""
            />
          </div>
          <div class="card-content">
            <h3>OPTIMAL HEALTH</h3>
            <p>
              WILDFIT is not a diet, it is a way of life that helps you achieve
              optimal health. When our body achieves optimal health, diseases,
              health conditions, allergies, body aches/pains etc start to
              disappear. If you are carrying additional weight, that starts to
              come off. If want to
            </p>
          </div>
          <button
            type="button"
            (click)="openLg(content1)"
            class="read-btn read-more"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="card-outer">
        <ng-template #content2 let-modal>
          <div class="modal-header">
            <h4 class="modal-title text-center">
              TRUST YOUR BODY & WIN IN LIFE
            </h4>
          </div>
          <div
            class="modal-body d-flex justify-content-center"
            style="
              background: linear-gradient(
                  rgba(174, 204, 173, 0.8),
                  rgba(180, 196, 184, 0.8)
                ),
                url(../../../../assets/foodFreedom.png);
              background-size: cover;
              background-position: center;
              color: black;
            "
          >
            <div class="itemDescription col-lg-12">
              <P>
                With WILDFIT, you learn to listen to your body. Our bodies are
                magnificent machines that have all the wisdom in it to give us
                indications of what to eat and what not to eat. With continued
                use of processed foods and foods that do not serve us, that
                inner voices gets drowned out. WILDFIT helps remove all the
                obstacles so we can listen and get cues from our body. This
                completely eliminates the desire to put non-functional foods in
                our bodies and help achieve greater vitality in our lives. When
                you improve your health, everything else in life becomes better.
                You become more productive, you have more energy to follow your
                dreams, you manage your time better, have a better relationships
                with your loved ones, create healthy boundaries and succeed in
                every area of life!
              </P>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="read-btn"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              Read Less
            </button>
          </div>
        </ng-template>
        <div class="card-inner">
          <div class="card-image">
            <img src="../../../../assets/foodFreedom.png" alt="" />
          </div>
          <div class="card-content">
            <h3>TRUST YOUR BODY & WIN IN LIFE</h3>
            <p>
              With WILDFIT, you learn to listen to your body. Our bodies are
              magnificent machines that have all the wisdom in it to give us
              indications of what to eat and what not to eat. With continued use
              of processed foods and foods that do not serve us
            </p>
          </div>
          <button
            type="button"
            (click)="openLg(content2)"
            class="read-btn read-more"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="card-outer">
        <ng-template #content3 let-modal>
          <div class="modal-header">
            <h4 class="modal-title text-center">Food Freedom</h4>
          </div>
          <div
            class="modal-body d-flex justify-content-center"
            style="
              background: linear-gradient(
                  rgba(174, 204, 173, 0.8),
                  rgba(180, 196, 184, 0.8)
                ),
                url(../../../../assets/foodFreedom.jpg);
              background-size: cover;
              background-position: center;
              color: black;
            "
          >
            <div class="itemDescription col-lg-12">
              <p>
                Ever felt like a certain food has some kind of power over you ?
                Or a food that makes saying NO to it, next to impossible ? And
                have you ever realized that once you have those foods, do you
                feel guilty ? So if these foods are so good, why do they make
                you feel guilty ? Fair question, right ? So here is the thing,
                what has been described above isn't freedom. This is some kind
                of toxic relationship that we build with certain foods in the
                course of our lives that taste good but make you feel guilty or
                even cause physical discomfort (think about how you feel after
                eating a lot of sugar!). WILDFIT provides you with the tools to
                identify these toxic , non-functional food relationships and
                transform them into functional ones. The concept behind this is
                the behavioural change dynamics that help us break these
                non-functional relationships and build healthy habits that lasts
                a lifetime. At the end of 90 days, these are some of things my
                clients say :
              </p>
              <ul>
                <li>"I no longer have any sugar cravings"</li>
                <li>
                  "Not sure why I liked eating ice cream so much, its GROSS!"
                </li>
                <li>"I do not feel any desire to eat processed foods."</li>
                <li>
                  "Vacations, family gatherings, social functions do not make me
                  nervous about my food choices!"
                </li>
              </ul>
              <p>
                FOOD FREEDOM is all about being able to eat what you want,
                whenever you want, how much ever you want. And it ALSO means,
                being able to say NO to foods that you do not want to eat
                anymore. WILDFIT will help you reach a level of food freedom
                which is organic and does not require any willpower.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="read-btn"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              Read Less
            </button>
          </div>
        </ng-template>
        <div class="card-inner">
          <div class="card-image">
            <img src="../../../../assets/foodFreedom.jpg" alt="" />
          </div>
          <div class="card-content">
            <h3>FOOD FREEDOM</h3>
            <p>
              Ever felt like a certain food has some kind of power over you ? Or
              a food that makes saying NO to it, next to impossible ? And have
              you ever realized that once you have those foods, do you feel
              guilty ? So if these foods are so good, why do they make you feel
              guilty ? Fair question, right ?
            </p>
          </div>
          <button
            type="button"
            (click)="openLg(content3)"
            class="read-btn read-more"
          >
            Read More
          </button>
        </div>
      </div>
    </div>
    <div class="moneyBack">
      <img
        src="../../../../assets/moneyback.png"
        alt="MONEY BACK GUARANTEE"
        height="550px"
      />
    </div>
  </div>
</section>
