.section-heading{
    margin-top: 30px;
    text-align: center;
}
.section-wildfit90{
    background-color: rgb(193, 224, 209);
}
.wildfit90{
    padding: 30px;
}
.whatisw90{
    background-color: aliceblue;
    padding: 20px !important;
    /* border-radius: 20px;` */
}
.whatisw90 h3{
    margin-top: 0px;
}

.wildfit90 div:first-child{
    background-color: #fff;
    padding: 5px 10px;
}

.wildfit90 div:first-child h3{
    text-align: center;
}

.wildfit90 .howditwork .section-heading{
    padding: 30px 10px; 
}

.wildfit90 .howditwork .week-container {
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgb(59, 121, 90), 0 5px 10px rgb(59, 121, 90) ;
    border-radius: 12px;
    transition: all 200ms ease-in-out;
}
.wildfit90 .howditwork .week-container:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgb(18, 56, 37), 0 5px 10px rgb(18, 56, 37) ;
}
.wildfit90 .howditwork .week-container h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.wildfit90 .howditwork .week-container > p{
    font-size: 13px;
    margin-bottom: 8px;
}
.wildfit90 .howditwork .week-container .week-content{
    width: 100%;
    position: relative;
    padding: 10px 10px 0;
}
.wildfit90 .howditwork .week-container .week-content p{
    transition: all 0.5s 0s ease-in;
}
.wildfit90 .howditwork .week-container .week{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 199, 181, 0.7);
    border-radius: 10px;
    width: 150px;
}
.drop-btn{
    z-index:50;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    /* background-color:#000; */
    border-radius: 50%;
}
.full-height{
    height: auto;
    transition: all 0.3s 0s ease-in;
}
.zero-height{
    height: 0;
    padding: 0;
    margin: 0;
    transition: all 0.3s 0s ease-in;
    overflow: hidden;
}
.rotate-right{
    transform: rotate(180deg);
    transition: all 0.3s 0s ease-in;
}
.rotate-left{
    transition: all 0.3s 0s ease-in;
}
/* ----------------------BENEFIT-------------------- */


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}
.card-outer{
    width: 350px;
    padding: 20px;
}
.card-inner{
    border: none;
    background-color: #fff;
    box-shadow:0 3px 10px rgb(98, 141, 120),0 -3px 10px rgb(98, 141, 120), 0 3px 10px rgb(98, 141, 120),0 -3px 10px rgb(98, 141, 120);
    transition: all 100ms ease-in;
}
.card-inner:hover{
    transform: scale(1.03);
    box-shadow:0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90), 0 0px 10px rgb(59, 121, 90),0 0px 10px rgb(59, 121, 90);
}

.card-inner p{
    font-size: 14px;
}
.card-image{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.card-image img{
    width: 100%;
}
.card-content{
    padding: 20px;
}
.readButton{
    padding: 0 20px;
}
.read-more{
    margin: 20px;
}
.card-content h3{
    text-align: center;
    font-size:18px;
}
.modal-header,.modal-footer{
    text-align: center;
    padding: 8px 20px;
}
.modal-header{
    justify-content: center;
}

.read-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(59, 121, 90);
    box-shadow:0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90), 0 0px 3px rgb(59, 121, 90),0 0px 3px rgb(59, 121, 90);
    transition: all 150ms ease-in-out;
}
.read-btn:hover{
    /* background-color:rgba(177, 199, 181, 0.7);
    color: black; */
    box-shadow:0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90), 0 0px 5px rgb(59, 121, 90),0 0px 5px rgb(59, 121, 90);
}
.moneyBack{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
@media (max-width:980px){
    .card-container{
        flex-direction: column;
    }
    .card-outer{
        width: 450px;
    }
    .card-content{
        padding-bottom:0 ;
    }
    .btn-primary{
        margin-top: 0px;
    }
}