<div class="wildfit">
  <h1>WILDFIT</h1>
</div>
<section class="section-intro">
  <div class="introduce row">
    <div class="col-lg-6 introduce-img">
      <img src="../../../assets/introduce.jpg" alt="" />
    </div>
    <div class="col-lg-6 introduce-content">
      <p>
        WILDFIT's founder is Eric Edmeades. Eric had struggled with many health
        issues since childhood. He was that kid who always got sick, had a lot
        of acne, had all kinds of allergies and was overweight. A life
        circumstance made Eric question the way medical professionals deal with
        physical conditions and he took it upon him to heal himself by making
        changes to his diet. After studying the evolution of human beings and
        their diet by extension, he made a few changes to his diet that
        completely transformed his health. He was no longer overweight, the acne
        disappeared, allergies were gone and he was experiencing optimal health.
      </p>
      <p>
        As a consequence, people around him started to enquire about his secret
        for having endless energy. When Eric would tell them what he does, they
        would follow the guidelines for a couple of weeks but couldn’t stick to
        it beyond that. That led Eric to study the human behaviours around food
        and WILDFIT was born. With the help of research done on human evolution,
        food phycology, inspiration from the Hadza Tribe (one of the last hunter
        gatherer tribes in the world), Eric was able to create this brilliant
        program that helps people change their relationship with food and help
        achieve FOOD FREEDOM!!
      </p>
    </div>
    <div class="introduce-content icbottom">
      <p>
        WILDFIT is based on the principle that every animal has its own diet.
        The same applies to human beings. The closer we are to this evolved
        diet, the more we experience optimal health. But modern conveniences,
        BIG FOOD industry and the highly manipulative marketing industry has led
        us astray from this path. WILDFIT is all about realigning out food
        patterns with the way Mother Nature intended it to be. And guess what,
        if we realign ourselves, we won't need any willpower to make good food
        decisions EVERY SINGLE DAY!!
      </p>
    </div>
  </div>
  <div class="description">
    <h3>Why should I choose WILDFIT ??</h3>
    <p>
      Ever heard terms like, <b>"Calorie deficit"</b>,
      <b>"Calories In vs. Calorie Out"</b>, <b>"Everything in Moderation"</b>,
      <b>"Portion Control"</b>, <b>"Intermittent Fasting"</b> etc. ?
    </p>
    <p>
      At the base of all these terms are certain <b>rigid rules</b> that the
      food and the fitness industry wants you to abide by if you want to get
      healthy <b>OR ELSE YOU ARE DOOMED!</b> All these rules instil a fear of
      failure in people who genuinely want to change the status of their health.
      NO fad diet available out there is willing to take the responsibility if a
      clients fails. For them, if you "failed" at their diet, may be you are not
      strong enough to follow through or you are just lazy.
    </p>
    <p>
      Another aspect is the social and cultural conditioning that we have been
      subject to since decades in the hands of the food marketing industry. They
      will have you believe that
      <b
        >you cannot celebrate Easter without chocolate or celebrate Diwali
        without sugary sweets.</b
      >
      We have been told for decades now that if you are feeling low, "good/soul
      food" (Pizza or ice cream or chocolate) is going to make you feel better.
      Think of all the commercials for these products; all of them teach us how
      these foods are emotionally important for us. Or how the diet industry
      will have you believe
      <b>you can eat whatever you want if you exercise enough.</b>
    </p>
    <p>
      I am here to tell you that <b>IT IS NOT YOUR FAULT</b> if you have felt
      confused and defeated at any point of time in your health journey. WILDFIT
      teaches you the fundamentals of how human beings have evolved to eat. We
      provide the guidelines for our clients to eat seasonally as nature intends
      us to eat. WILDFIT does not force you to include any form of exercise in
      the 90 days and you'll learn the power of nutrition to achieve optimal
      health. This not just shifts the way you look but it completely transforms
      the way you show up in life.
    </p>
    <p>
      WILDFIT is not a diet it is a <b>way of life</b> that gives you the power
      to understand how to fuel your body, helps you take control of your body,
      handle your emotional eating, understand the 6 different types of hunger
      and be free from the manipulations of the diet industry.
    </p>
    <div class="video">
      <div>
        <youtube-player
          [height]="340"
          [width]="600"
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        >
        </youtube-player>
      </div>
    </div>
  </div>
  <div class="wildfit90">
    <div class="whatisw90">
      <h3>What is WILDFIT 90 ?</h3>
      <div>
        WILDFIT 90 is a 90 day group coaching health transformation program that
        teaches you how to permanently alter your relationship with food. If you
        are someone who wants to release weight, gain or maintain weight, if you
        are an athlete seeking peak performance or someone who wants to live
        longer and with greater vitality, this is the place to be.
      </div>
    </div>
    <div class="howditwork row justify-content-center">
      <h3 class="col-lg-12 howditwork-title">How Does It Work ??</h3>
      <div class="part1 col-lg-3">
        <div>
          <h3>Week 1: WILDFIT PRINCIPLES AND FOUNDATION</h3>
          <p>
            The first week is by far the most important week of the program. We
            gain insights into why we eat, what we eat, when we eat it. You'll
            be surprised to find out what makes you eat that pint of ice-cream
            in the middle of the night!!
          </p>
        </div>
      </div>
      <div class="part2 col-lg-3">
        <div>
          <h3>Week 2-3: UNDERSTAND SUGAR DEPENDENCY</h3>
          <p>
            These 2 weeks help address our dependency on processed foods and
            sugars. We learn how sugars sneak into our lives in almost
            everything we buy at the supermarket and how to deal with it.
          </p>
        </div>
      </div>
      <div class="part3 col-lg-3">
        <div>
          <h3>Week 4-5: NUTRITIONAL TOP UP</h3>
          <p>
            In these weeks we prepare our bodies for the healing process to
            start. In WILDFIT we believe in preparing our bodies by giving it
            the best nutrition possible before making any change.
          </p>
        </div>
      </div>
      <div class="part4 col-lg-3">
        <div>
          <h3>Week 6-10: OUR BODIES START TO HEAL</h3>
          <p>
            This is when your body starts to respond to all the foundational
            work that we did in the weeks before. Weight starts to shift, energy
            levels stabilize, body shape starts to change and any more changes
            start to reflect!
          </p>
        </div>
      </div>
      <div class="part5 col-lg-3">
        <div>
          <h3>Week 11: WILDFIT SEASONS</h3>
          <p>
            In the span of 90 days, we will learn how to eat seasonally to get
            the greatest benefit for our bodies!
          </p>
        </div>
      </div>
      <div class="part6 col-lg-3">
        <div>
          <h3>Week 12: BURN SOME MORE FAT</h3>
          <p>
            In this week, you will receive guidance regarding how to transition
            between seasons by yourself. This prepares you for your LIVING
            WILDFIT phase after the 90 days!
          </p>
        </div>
      </div>
      <div class="part7 col-lg-3">
        <div>
          <h3>Week 13: LIVING WILDFIT</h3>
          <p>
            In this week, you will  learn how to practise living WILDFIT by
            choosing your base season and making food decisions on your own!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="benefit">
    <h3>How will I benefit ?</h3>
    <div>
      <h3>Food Freedom</h3>
      <p>
        Ever felt like a certain food has some kind of power over you ? Or a
        food that makes saying NO to it, next to impossible ? And have you ever
        realized that once you have those foods, do you feel guilty ? So if
        these foods are so good, why do they make you feel guilty ? Fair
        question, right ? So here is the thing, what has been described above
        isn't freedom. This is some kind of toxic relationship that we build
        with certain foods in the course of our lives that taste good but make
        you feel guilty or even cause physical discomfort (think about how you
        feel after eating a lot of sugar!). WILDFIT provides you with the tools
        to identify these toxic , non-functional food relationships and
        transform them into functional ones. The concept behind this is the
        behavioural change dynamics that help us break these non-functional
        relationships and build healthy habits that lasts a lifetime. At the end
        of 90 days, these are some of things my clients say :
      </p>
      <ul>
        <li>"I no longer have any sugar cravings"</li>
        <li>"Not sure why I liked eating ice cream so much, its GROSS!"</li>
        <li>"I do not feel any desire to eat processed foods."</li>
        <li>
          "Vacations, family gatherings, social functions do not make me nervous
          about my food choices!"
        </li>
      </ul>
      <p>
        FOOD FREEDOM is all about being able to eat what you want, whenever you
        want, how much ever you want. And it ALSO means, being able to say NO to
        foods that you do not want to eat anymore. WILDFIT will help you reach a
        level of food freedom which is organic and does not require any
        willpower.
      </p>
    </div>
    <div>
      <h3>OPTIMAL HEALTH</h3>
      <p>
        WILDFIT is not a diet, it is a way of life that helps you achieve
        optimal health. When our body achieves optimal health, diseases, health
        conditions, allergies, body aches/pains etc start to disappear. If you
        are carrying additional weight, that starts to come off. If want to
        gain/maintain your weight, that becomes easy. You achieve peak
        performance, if you are an athlete. You gain more confidence in yourself
        and making good food decisions becomes organic and requires NO
        WILLPOWER!
      </p>
    </div>
    <div>
      <h3>TRUST YOUR BODY & WIN IN LIFE</h3>
      <P
        >With WILDFIT, you learn to listen to your body. Our bodies are
        magnificent machines that have all the wisdom in it to give us
        indications of what to eat and what not to eat. With continued use of
        processed foods and foods that do not serve us, that inner voices gets
        drowned out. WILDFIT helps remove all the obstacles so we can listen and
        get cues from our body. This completely eliminates the desire to put
        non-functional foods in our bodies and help achieve greater vitality in
        our lives. When you improve your health, everything else in life becomes
        better. You become more productive, you have more energy to follow your
        dreams, you manage your time better, have a better relationships with
        your loved ones, create healthy boundaries and succeed in every area of
        life!
      </P>
    </div>
    <div>
      <img src="../../../assets/moneyback.png" alt="MONEY BACK GUARANTEE" height="550px"> 
    </div>
  </div>
</section>
