.section-heading{
    text-align: center;
}

.section-intro{
    background-color: rgb(193, 224, 209);
    padding: 60px;
}
.introduce{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-image: url("../../../assets/822048.jpg");
    padding: 30px;
}
.introduce-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.introduce-img img{
    /* width: 100%; */
    height: 420px;
}

.introduce-content{
    background-color: aliceblue;
    padding: 40px;
}
.icbottom{
    margin-top: 20px;
}
.introduce-content h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.introduce-content p{
    font-size: 14px;
}

.section-intro .description{
    /* margin: 50px; */
    padding: 20px;
}
.limitTextHeight {
    height: 285px;
    overflow: hidden;
}
.section-intro .description h3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.section-intro .description p{
    font-size: 16px;
}

.section-intro .video{
    display: flex;
    justify-content: center;
}

@media (max-width:991px){
    .section-intro{
        padding: 20px;
    }
}