.section-heading{
    color: rgb(18, 56, 37);
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.section-intro{
    padding: 60px;
}
.introduce{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background: url(../../../assets/bgs/greenbg.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
}

.introduce-content{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px #000;
    padding: 20px;
    border-radius: 8px;
}
.introduce-content img{
    height: 450px; 
    float:left; 
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.section-intro .description{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px #000;
    /* color: #fff; */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.limitTextHeight {
    height: 285px;
    overflow: hidden;
}
.section-intro .description h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
    /* font-weight: 900; */
}

.section-intro .video{
    float: right;
    overflow: hidden;
}

@media (max-width:767px){
    .section-intro{
        padding: 20px;
    }
    .introduce-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .introduce-content img{
        float: none;
        height: 380px;
        margin: 0 0 20px;
    }
}
