<section class="section-intro">
  <h1 class="section-heading">WILDFIT</h1>
  <div class="introduce">
    <div class="introduce-content">
      <img src="../../../assets/introduce.jpg" alt="Eric Edmeades" />
      <p>
        WILDFIT's founder is Eric Edmeades. Eric had struggled with many health
        issues since childhood. He was that kid who always got sick, had a lot
        of acne, had all kinds of allergies and was overweight. A life
        circumstance made Eric question the way medical professionals deal with
        physical conditions and he took it upon him to heal himself by making
        changes to his diet. After studying the evolution of human beings and
        their diet by extension, he made a few changes to his diet that
        completely transformed his health. He was no longer overweight, the acne
        disappeared, allergies were gone and he was experiencing optimal health.
        </p>
        <p>
        As a consequence, people around him started to enquire about his secret
        for having endless energy. When Eric would tell them what he does, they
        would follow the guidelines for a couple of weeks but couldn’t stick to
        it beyond that. That led Eric to study the human behaviours around food
        and WILDFIT was born. With the help of research done on human evolution,
        food phycology, inspiration from the Hadza Tribe (one of the last hunter
        gatherer tribes in the world), Eric was able to create this brilliant
        program that helps people change their relationship with food and help
        achieve FOOD FREEDOM!!
        </p>
        <p>
        WILDFIT is based on the principle that every animal has its own diet.
        The same applies to human beings. The closer we are to this evolved
        diet, the more we experience optimal health. But modern conveniences,
        BIG FOOD industry and the highly manipulative marketing industry has led
        us astray from this path. WILDFIT is all about realigning out food
        patterns with the way Mother Nature intended it to be. And guess what,
        if we realign ourselves, we won't need any willpower to make good food
        decisions EVERY SINGLE DAY!!
      </p>
    </div>
  </div>
  <div class="introduce">
    <div class="description">
      <h3>Why should I choose WILDFIT ??</h3>
      <p>
        Ever heard terms like, <b>"Calorie deficit"</b>,
        <b>"Calories In vs. Calorie Out"</b>, <b>"Everything in Moderation"</b>,
        <b>"Portion Control"</b>, <b>"Intermittent Fasting"</b> etc. ?
      </p>
      <div class="video">
        <div style="position: relative" width="100%" height="100%">
          <div
            *ngIf="!loaded"
            style="
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 2;
              top: 50%;
              left: 50%;
            "
          >
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <youtube-player
            [width]=""
            [height]="240"
            [videoId]="id"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
          >
          </youtube-player>
        </div>
      </div>
      <p>
        At the base of all these terms are certain <b>rigid rules</b> that the
        food and the fitness industry wants you to abide by if you want to get
        healthy <b>OR ELSE YOU ARE DOOMED!</b> All these rules instil a fear of
        failure in people who genuinely want to change the status of their health.
        NO fad diet available out there is willing to take the responsibility if a
        clients fails. For them, if you "failed" at their diet, may be you are not
        strong enough to follow through or you are just lazy.
      </p>
      <p>
        Another aspect is the social and cultural conditioning that we have been
        subject to since decades in the hands of the food marketing industry. They
        will have you believe that
        <b
          >you cannot celebrate Easter without chocolate or celebrate Diwali
          without sugary sweets.</b
        >
        We have been told for decades now that if you are feeling low, "good/soul
        food" (Pizza or ice cream or chocolate) is going to make you feel better.
        Think of all the commercials for these products; all of them teach us how
        these foods are emotionally important for us. Or how the diet industry
        will have you believe
        <b>you can eat whatever you want if you exercise enough.</b>
      </p>
      <p>
        I am here to tell you that <b>IT IS NOT YOUR FAULT</b> if you have felt
        confused and defeated at any point of time in your health journey. WILDFIT
        teaches you the fundamentals of how human beings have evolved to eat. We
        provide the guidelines for our clients to eat seasonally as nature intends
        us to eat. WILDFIT does not force you to include any form of exercise in
        the 90 days and you'll learn the power of nutrition to achieve optimal
        health. This not just shifts the way you look but it completely transforms
        the way you show up in life.
      </p>
      <p>
        WILDFIT is not a diet it is a <b>way of life</b> that gives you the power
        to understand how to fuel your body, helps you take control of your body,
        handle your emotional eating, understand the 6 different types of hunger
        and be free from the manipulations of the diet industry.
      </p>
    </div>
  </div>
  
</section>