<nav>
    <div class="navbar d-flex justify-content-between">
      <div class="logo">
        <a routerLink="/home"><img src="../../../../assets/3ft.png" alt="LOGO"></a>
      </div>  
      <div class="navlinks">
        <ul>
          <li><a routerLink="/myStory">About</a></li>
          <li><a routerLink="/wildfit">Wildfit</a></li>
          <li><a routerLink="/testimonials">Testimonials</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="d-flex flex-row align-items-center">
        <a routerLink="/cart">
          <i class="p-3 fal fa-shopping-cart">
            <span class="itemCount">{{totalItems}}</span>
          </i>
        </a>
        <button class="btn btn-dark work-btn">Work with me</button>
      </div>
    </div>
  </nav>
  <!-- <div class="nav-bg"><img src="../../../../assets/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" alt=""></div> -->
  