<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/3ft.png" width="120px" alt=""></a>
  <button class="navbar-toggler" type="button" (click)="collapsed= !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed=true" >
    <ul class="navbar-nav ml-auto">
      <li class="nav-link"><a routerLink="/myStory" routerLinkActive="active">About</a></li>
      <li class="nav-link"><a routerLink="/wildfit" routerLinkActive="active">Wildfit</a></li>
      <li class="nav-link"><a routerLink="/wildfit90" routerLinkActive="active">Wildfit90</a></li>
      <li class="nav-link"><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      <li class="nav-link"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <span class="navbar-text">
      <div class="">
        <a routerLink="/cart">
          <i class="p-3 fal fa-shopping-cart">
            <span class="itemCount">{{totalItems}}</span>
          </i>
        </a>
        <button class="btn btn-dark work-btn">Work with me</button>
      </div>
    </span>
  </div>
</nav>