.navbar{
    font-family: 'Varela Round', sans-serif; 
    padding: 10px 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar i{
    font-size: 28px;
    margin: 0 5px;
    color: rgb(29, 44, 54);
    position: relative;
}
.navbar i .itemCount{
    position: absolute;
    top: 10%;
    font-size: 16px;
    color: rgb(5, 43, 21);
    font-weight:500;
}
.social i{
    margin:0 20px;
}
.navbar li {
    position: relative;
}
.navbar li a{
    padding: 0 20px;
    color: rgb(5, 43, 21);
    font-size: 16px !important;
}
.navbar li a:hover{
    color: rgb(93, 182, 140);
    /* transform:scale(1.1); */
    transition: all 100ms ease-in-out;
}
.fal{
    display: unset !important;
}


.work-btn{
    padding: 10px 23px;
    box-shadow: 0 20px 20px rgb(180, 180, 180);
    font-size: 14px !important;
}
@media (max-width:1034px){
    .work-btn{
        display: none;
    }
}
.active{
    color: rgb(1, 20, 4) !important;
    font-weight: 700 !important;
}

.navbar-text div{
    display: flex;
    align-items: center;
}

@media (max-width:940px){
    .navbar-text div{
        align-items: flex-start;
        flex-direction: column;
    }
} 