<section class="section-how">
    <div class="row">
        <div class="col-lg-6">
            <h3>How it Works?</h3>
            <p>Why sir end believe uncivil respect. Always get adieus nature day coursefro common. My little garret repair to desire he esteem.</p>
            <div class="how-btn">
                <button class="btn btn-dark work-btn">Create Account</button>
                <button class="btn btn-light work-btn">Need Help?</button>
            </div>
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
</section>