.section-testimonials h3{
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(18, 56, 37);
}

.section-testimonials{
    padding: 60px;
}
.video-testimonials{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-testimonials .image-testimonials img{
    width: 100%;
    margin-bottom: 10px;
}

.section-testimonials .video-testimonials .sub-video{
    padding: 0 5px;
    margin-bottom: 10px;
}