<section class="footer-section">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="p-2 subs">
      <h3>Subscribe to our Newsletter</h3>
    </div>
    <div class="d-flex">
      <input class="p-2" type="text" placeholder="Enter you mail here" />
      <button class="btn btn-light work-btn">Subscribe</button>
    </div>
  </div>
  <div class="row link-section">
    <div class="col-md-4 col-sm-6">
      <h4>Social Media</h4>
      <div class="social-icons">
        <div>
          <a href="https://www.instagram.com/3ftribe/">
            <i class="fab fa-facebook-f" style="font-size: 26px"></i>
          </a>
        </div>
        <div>
          <a
            href="https://www.facebook.com/3F-Tribe-Flow-Fit-Free-112698478002910 "
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <div class="row">
        <div class="col-md-4">
          <h4>Links</h4>
          <ul class="footer-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/myStory">About</a></li>
            <li><a routerLink="/wildfit">Wildfit</a></li>
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>3FTRIBE</h4>
          <ul>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Get in Touch</h4>
          <ul>
            <!-- <li>Sharifapur Nazarapur Kannauj</li> -->
            <li>+31653204130</li>
            <li>aseema@3ftribe.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h5>&#169;3FTribe.co . All rights reserved</h5>
</section>
