<section class="footer-section">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="p-2 subs">
            <h3>Subscribe to our Newsletter</h3> 
        </div>
        <div class="d-flex">
            <input class="p-2" type="text" placeholder="Enter you mail here"/>
            <button class="btn btn-light work-btn">Subscribe</button>
        </div>
    </div>
    <div class="row link-section">
        <div class="col-md-4">
            <h4>Fitness</h4>
            <p> Sharifapur Nazarapur, Kannauj</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h4>Links</h4>
                    <ul>
                        <li>Overons</li>
                        <li>Social Media</li>
                        <li>Counterons</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Company</h4>
                    <ul>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Get in Touch</h4>
                    <ul>
                        <li>Sharifapur Nazarapur Kannauj</li>
                        <li>+917860240075</li>
                        <li>info@3ftribe.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h5>&#169;3FTribe.co . All rights reserved</h5>
    
</section>